﻿@model EURIS.Entities.Product

@{
    ViewBag.Title = "Details product";
}
<fieldset>
    <legend>Product</legend>
    <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Code)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <div class="form-group">
        <a href="@Url.Action("Index")" class="btn btn-outline-secondary"><li class="fas fa-table"></li> Back to do list</a>
        <a href="@Url.Action("Edit", "Product", new { id = Model.Id })" class="btn btn-outline-secondary"><li class="fas fa-pencil-alt"></li> Edit</a>
    </div>
</fieldset>