﻿@model EURIS.Entities.Product
@{
    ViewBag.Title = "Edit Product";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Code)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="form-group">
            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-outline-secondary"><li class="fas fa-table"></li> Back to do list</a>
                <button type="submit" class="btn btn-outline-secondary"><li class="fas fa-save"></li> Save</button>
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
