﻿@model EURISTest.Models.AddProductModel

@using EURIS.Entities;

@{
    ViewBag.Title = "Product Catalog ";
}
@using (Html.BeginForm("AddProducts"))
{
    <fieldset>
        @{ if (Model.Products.Count() > 0)
            {
                <div class="form-group">
                    <table>
                        <tr>
                            <th></th>
                            <th>Code</th>
                            <th>Description</th>
                        </tr>
                        @foreach (Product product in Model.Products)
                        {
                            <tr>
                                <td style="padding-right:5px;">
                                    <input class="toHighlights" type="checkbox" name="SelectedProducts" value="@product.Id" />
                                </td>
                                <td>@product.Code</td>
                                <td>@product.Description</td>
                            </tr>
                        }
                    </table>
                </div>
            }
            else {
                <div class="form-group">
                    <span class="editor-label">There aren't products to couple.</span>
                </div>
            }
            <div class="form-group">
            </div>
        }
        @Html.HiddenFor(model => model.IdCatalog)
        <div class="form-group">
            <a href="@Url.Action("Index")" class="btn btn-outline-secondary"><li class="fas fa-table"></li> Back to do list</a>
            @{ if (Model.Products.Count() > 0)
                {
                    <button onclick="return canSave()" type="submit" class="btn btn-outline-secondary"><li class="fas fa-save"></li> Link</button>
                }
            }
        </div>
    </fieldset>
}

@Scripts.Render("~/Scripts/jquery-3.0.0.min.js")
<script>
    /*I could use toggleClass, but was a problem with double click :)*/
    $(".toHighlights").click(function () {
        if ($(this).prop("checked") == true) {
            $(this).parent().parent().addClass('highlight');
        }
        else if ($(this).prop("checked") == false) {
            $(this).parent().parent().removeClass('highlight');
        }
    });

    function canSave() {
        if ($('input[name="SelectedProducts"]:checked').length === 0) {
            alert("You must select at least an item.")
            return false;
        }
    }
</script>