﻿@model EURIS.Entities.Catalog

@{
    ViewBag.Title = "Create Catalog";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Catalog</legend>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Code)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <a href="@Url.Action("Index")" class="btn btn-outline-secondary"><li class="fas fa-table"></li> Back to do list</a>
            <button type="submit" class="btn btn-outline-secondary"><li class="fas fa-save"></li> Create</button>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}