﻿@model EURIS.Entities.Catalog

@{
    ViewBag.Title = "Delete Catalog";
}
<h4>Are you sure you want to delete this?</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Product</legend>
        <div class="form-group">
            <div class="display-label">
                @Html.LabelFor(model => model.Code)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Code)
            </div>

            <div class="display-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <a href="@Url.Action("Index")" class="btn btn-outline-secondary"><li class="fas fa-table"></li> Back to do list</a>
            <button type="submit" class="btn btn-outline-secondary"><li class="fas fa-eraser"></li> Delete</button>
        </div>
    </fieldset>
}
