﻿@model IEnumerable<EURIS.Entities.Catalog>

@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    <a href="@Url.Action("Create")"><i class="fa fa-plus"></i><span> Create New Catalog</span></a>
</div>
<div class="form-group">
    @{if (Model.Count() > 0)
        {
            <table>
                <tr>
                    <th>
                        Actions
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-edit"></i> <span>Edit</span></a> |
                            <a href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-eye"></i> <span>Details</span></a> |
                            <a href="@Url.Action("Delete", new { id = item.Id })"><i class="fa fa-eraser"></i> <span>Delete</span></a> |
                            <a href="@Url.Action("Products", new { id = item.Id })"><i class="fas fa-table"></i> <span>Products</span></a>
                        </td>
                        <td>@item.Id</td>
                        <td>@item.Code</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </table>
        }
    }
</div>
