﻿@model EURIS.Entities.Catalog
@using EURIS.Entities;

@{
    ViewBag.Title = "Product Catalog " + Model.Code;
}
<fieldset>
    @{ if (Model.Products.Count() > 0)
        {

            <div class="form-group">
                <table>
                    <tr>
                        <th>Action</th>
                        <th>Code</th>
                        <th>Description</th>
                    </tr>
                    @foreach (Product product in Model.Products)
                {
                        <tr>
                            <td><a href="@Url.Action("RemoveProduct", new { idCatalog = Model.Id, idProduct = product.Id })"><i class="fas fa-unlink"></i> <span>Remove from catalog</span></a></td>
                            <td>@product.Code</td>
                            <td>@product.Description</td>
                        </tr>
                    }
                </table>
            </div>
        }
        else {
            <div class="form-group">
                <span class="editor-label">The catalog is empty.</span>
            </div>
        }
        <div class="form-group">
        </div>
    }
    <div class="form-group">
        <a href="@Url.Action("Index")" class="btn btn-outline-secondary"><li class="fas fa-table"></li> Back to do list</a>
        <a href="@Url.Action("AddProducts", new { id = Model.Id })" , class="btn btn-outline-secondary"><i class="fa fa-link"></i> <span>Add Product(s)</span></a>
    </div>
</fieldset> 